@model NaturePlanetSolutionCore.Models.ViewModels.OrderViewModel
<div class="checkout-container">
    @using (Html.BeginForm("Checkout", "Order", FormMethod.Post, new { @class = "checkout-form" }))
    {
        <div asp-validation-summary="All" class="validation-summary"></div>
        
        <div class="form-group">
            <input asp-for="Email" 
                   class="form-input" 
                   name="name-order" 
                   type="text" 
                   placeholder="Fulde navn" />
            <span asp-validation-for="Email" class="validation-message"></span>
        </div>

        <div class="form-group">
            <input class="form-input email-order" 
                   name="email-order" 
                   type="text" 
                   placeholder="Email" />
        </div>

        <button type="submit" 
                class="submit-button" 
                name="submit-button">
            Checkout
        </button>
    }
</div>