@model Business.Model.Cart
<div asp-validation-summary="All">
<div class="order-confirmation">
    <div class="order-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0" />
        </svg>
    </div>
    <div class="order-text">
        <h2>Thank you for your order!</h2>
        <h5>You will find your order summary below. </h5>
        <hr />       
    </div>
    <div class="order-summary">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.ProductSet())
                {
                    <tr>
                    <th>@product.Name</th>
                    <th>@Model.GetSingleProductQuantity(product)</th>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
</div>