@model Business.Model.Cart

@if (Model.Products.Any())
{
    <div class="cart-container">
    @foreach (var product in Model.Products)
    {
        <div class="cart-item-row">
        <p>@product.Name</p>
        <a asp-controller="Product" asp-action="RemoveProduct">Remove</a>
        </div>
    }

    <div class="checkout-row">
            <a asp-controller="Order" asp-action="Checkout" class="viewcart-button">Go to checkout</a>
    </div>
    </div>
    
}

else
{
    <p>No products in the cart</p>
}