@model NaturePlanetSolutionCore.Models.ViewModels.ProfileViewModel

<div class="row justify-content-center mt-5">
    <div class="col-md-6 col-lg-4 p-4 shadow rounded bg-white">
        <h2 class="text-center mb-4 text-success">Profile</h2>
        <dl class="row">
            <dt class="col-sm-4">Email</dt>
            <dd class="col-sm-8">@Model.Email</dd>
            <dt class="col-sm-4">Password</dt>
            <dd class="col-sm-8">
                <a asp-action="ChangePassword" class="btn btn-outline-success btn-sm">Change Password</a>
            </dd>
        </dl>
    </div>
</div>