@using DataTransferLayer.Model
@model List<DataTransferLayer.Model.ProductDto>

<div class="product-container">
    @foreach (var product in @Model)
    {
        <div class="product-@product.Name">
            <a asp-controller="Products" asp-action="Details" asp-route-productName="@product.Name" name="productName">@product.Name</a>
            <p>@product.EAN</p>
        </div>
    }
</div>


