<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - NaturePlanetSolutionCore</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/NaturePlanetSolutionCore.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <div class="logo-container">
        <a class="logo-ref" href="/index">
            <img class="logo-img" src="Assets/Images/NaturePlanet_logo.svg"/>
        </a>
    </div>
    <div class="search-container">
        @using (@Html.BeginForm())
        {
            <input class="search-box" type="text" placeholder="Søg efter produkter"/>
            <button class="search-button" type="submit">
                <i class="search-icon">&#128269;</i>
            </button>
        }
    </div>
    <div class="nav-container">
        <ul class="nav-elements">
            <li>
                <div class="user-dropdown">
                    <p>User</p>
                    <div class="user-dropdown-content">
                        <button asp-controller="User" asp-action="Login" class="login-button">Log ind</button>
                        <a href="">Get username</a>
                        <a href="">Glemt din adgangskode?</a>
                        <a href="">Min profil</a>
                        <a href="">Mine Ordrer</a>
                        <a href="">Mine favoritter</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="language-dropdown">
                    <p>Language</p>
                    <div class="language-dropdown-content">
                        <a href="">English</a>
                        <a href="">Dansk</a>
                        <a href="">Deutsch</a>
                        <a href="">Français</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="region-container">
                    <button class="region-button">Europe</button>
                </div>
            </li>
        </ul>
    </div>
    <nav class="category-nav">
        @await Component.InvokeAsync("CategoryMenu")
    </nav>
</header>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - NaturePlanetSolutionCore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>